//- Misc metatags
meta(name="author", content="#{author}")

//- Search engines
meta(name="description", content="#{summary}")

//- Google Plus
meta(itemprop="name" content="#{title}")
meta(itemprop="description" content="#{summary}")
meta(itemprop="image" content="#{image}")

//- Twitter
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@johnritterbush")
meta(name="twitter:title", content="#{title}")
meta(name="twitter:description", content="#{summary}")
meta(name="twitter:creator", content="@johnritterbush")
meta(name="twitter:image:src", content="#{image}")

//- Open Graph General (Facebook & Pinterest)
meta(property="og:url", content="http://johnritterbush.com")
meta(property="og:title", content="#{title}")
meta(property="og:description", content="#{summary}")
meta(property="og:site_name", content="#{title}")
meta(property="og:image", content="#{image}")
